<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Merienda:400,700" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="../img/nickmars.png">
  <link rel="stylesheet" href="../css/style.css">
  <title>Adventure</title>
</head>
<body class="adventure">
  <header class="adventure-box">
    <div class="adventure-side">
      <ul class="adventure-side__list">
        <li class="adventure-side__item"><a href="../index.html" class="adventure-side__link">Home</a></li>
        <li class="adventure-side__item"><a href="next.html" class="adventure-side__link">Product</a></li>
        <li class="adventure-side__item"><a href="http://ww15.watchop.io/" class="adventure-side__link">Episode</a></li>
        <li class="adventure-side__item"><a href="about.html" class="adventure-side__link">About</a></li>
      </ul>
      <div class="adventure-side__build">
        <p class="paragraph"> Build by The_Imperfect_Otaku</p>
      </div>
      <!-- Sidebar -->
    </div>
    <div class="adv-main">
      <figure class="adv__image-box-1">
        <img srcset="img/adventure/sky.jpg" class="adv__image" src="../img/zoro.jpg" alt="Skypiea">
      </figure>
      <figure class="adv__image-box-2">
        <img srcset="img/adventure/mermaidIsland.jpg" class="adv__image" src="../img/zoro.jpg" alt="MermaidIsland">
      </figure>
      <figure class="adv__image-box-3">
        <img srcset="img/adventure/sabaodyIsland.jpg" class="adv__image" src="../img/zoro.jpg" alt="Sabaody">
      </figure>
      <figure class="adv__image-box-4">
        <img srcset="img/adventure/dressrosaIsland.jpg" class="adv__image" src="../img/zoro.jpg" alt="DressRosa">
      </figure>

      <div class="adv__content">
        <div class="heading-tertiary tx-center ds-block bd-line mb-sm mt-md">We go where we want</div>
        <div class="description-first">
          The One piece anime revolves around Luffy, a boy who sets out to become the King of Pirates. However, before he can reach his goal, he would have to assemble a very good pirate crew and then navigate his way to Raftel.

In order to get to Raftel, Luffy and his crew would need to find the map to Raftel, the problem thou is that the map can only be gotten from combinning Poneglyphs (ancient texts left by an ancient civilization).

Also, the World Government (a political organization made of majority of the world) rules pirates as threats to the world and so Pirates are kinda illegal. The World Government uses the Marines by placing bounties on Pirates that prove themselves to be notorious. This makes it very difficult for Pirates to sail around freely. And so luffy must constantly fend off the Marines that try to capture him and his friends, while facing the difficulties of pirate rivalry.

And finally, the best part. Devil fruits. These mystical fruits give whomever eats them special abilities which vary from (1) being able to control elemental forces of nature like water, wind lightning and all those good stuff (Logia types) to (2) becoming an ancient or mythical creature (Mythical zoan type) to (3) having abilities other than the first and second. AKA paramecia type. However, whomever eats such fruits looses the ability to swim.
        </div>
      </div>
      <div class="adv__left">
        <a href="#" class="adv__btn--left">
          <svg class='adv__btn-svg'>
              <use xlink:href="../img/sprite.svg#icon-circle-left"></use>
          </svg>
        </a>
      </div>
      <div class="adv__right">
        <a href="#" class="adv__btn--right">
          <svg class='adv__btn-svg'>
              <use xlink:href="../img/sprite.svg#icon-circle-right"></use>
          </svg>
        </a>
      </div>
      <div class="adv__btn-place">
        <a href="http://onepiece.wikia.com/wiki/List_of_Locations" target="_blank" class="adv__btn">
          Learn more  <span>&rarr;</span>
        </a>
      </div>
      <!-- <div class="adv__bottom"><a href="" class="adv__btn-info">Bottom</a></div> -->
    </div>
  </header>
</body>
</html>
